@model IEnumerable<ShopMVC.Models.Product>
@{
    ViewData["Title"] = "All Categories";
}
@if (User.IsInRole("admin"))
    {
<a asp-action="CreateProduct">New product</a>
    }
<h1>All Categories</h1>

<div class="text-center">
    <table class="table">
        <tr><td>Category</td></tr>
        @foreach (var item in Model)
        {
                <tr><td><a asp-controller="Home" asp-action="Categories" asp-route-nameCategory="@item.Category2">@item.Category2 </a></td></tr>
        }

    </table>
</div>