@model ShopMVC.Models.OrderModel
@{
    ViewBag.Title = "Create order";
}
<form asp-action='BuyProduct' asp-controller='Home'>
    <div class="form-group">
        <label asp-for="NameBuyer" class="control-label">Имя покупателя</label>
        <input type="text" asp-for="NameBuyer" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="NameProduct" class="control-label">Название товара</label>
        <input type="text" asp-for="NameProduct" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Адресс отправки</label>
        <input type="text" asp-for="Address" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="TypeProduct" class="control-label">Тип продукта</label>
        <input type="text" asp-for="TypeProduct" class="form-control" />
    </div>
        <div class="form-group">
        <label asp-for="CompanyProduct" class="control-label">Производитель продукта</label>
        <input type="text" asp-for="CompanyProduct" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена продукта</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>

</form>
