@{
    ViewData["Title"] = "Home Page";
}

    <div class="promoIndex">
        
        <a class="promo"><img class="promoImage" src="../images/promo-iphone.jpg" alt="" /></a>

        <div class="promoText">
            <p class="promoName">New Iphone already</p>
            <p class="promoMini">Your new superpower.</p>
            <a class="promoShop" href="https://localhost:5001/Home/AllProducts?&currentFilter=iphone">Shop now</a>
        </div>
    </div>
