@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.0587945708276!2d30.259303003187114!3d59.93628104139862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630d6f9cc927f%3A0x98b66576498071fe!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LPRgdC60LjQuSDQs9C-0YDQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2sru!4v1652214999467!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<script src="https://maps.googleapis.com/maps/api/js?key=5abd4afd4d95af38"
        defer></script>
<p>Use this page to detail your site's privacy policy.</p>
