@{
    ViewData["Title"] = "Please Register";
}


<h1 style="text-align: center;">Please register or log in to be able to buy!</h1>
<div class="reqReg">
    <a class="buyButtonList" style="display: unset; font-size: 1.5rem;" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a class="editButton" style="display: unset; font-size: 1.5rem;" asp-area="" asp-controller="Account" asp-action="Login" align="left">Login</a>
</div>

