/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    
}
.miniImg {
    width: 55px;
    height: 55px;
    border-radius: 45%;
}
    miniImg:hover {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    display: block;
}
.decsription {
    height: 62.8px;
    width: 450px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deleteButton {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: orangered;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.editButton {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(30, 30, 30);
    background-color: lightyellow;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.productButton {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightcyan;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.exitButton {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightyellow;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.buyButton {
    display: block;
    width: 200%;
    height: calc(2.25rem + 5px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightgreen;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.buyButtonList {
    display: block;
    width: 100%;
    height: calc(2.25rem + 5px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightgreen;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .exitButton:hover,.editButton:hover, .deleteButton:hover, .buyButtonList, .buyButtonList:hover, .listCategory:active {
        text-decoration: none;
        color: #212529;
    }
.list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
}
.listProduct {
    margin-bottom: 25px;
    border-radius: 2px;
    padding: 16px 20px;
    width: 20%;
    min-height: 360px;
    position: relative;
    display: inline-table;
}
.listCategory {
    font-size: 14px;
    line-height: 20px;
    align-items: flex-start;
    display: flex;
    position: relative;
}
    .listCategory,.listCategory:active {
        text-decoration: none;
        color:black;
    }
        .listCategory:hover {
            text-decoration: none;
            color: rgb(171, 98, 252);
        }

.listFieldImg {
    height: 180px;
    width: 180px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin: 0 auto 20px;
}
.listImg {
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.listName {
    font-family: "San Francisco";
    position: relative;
    margin-bottom: auto;
    line-height: 30px;
    letter-spacing: 0em;
    font-weight: 600;
    font-size: 24px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(33, 37, 41);
    display: block;
}
    .listName:hover, .listName:active {
        text-decoration: none;
        color: rgb(33, 37, 41);
    }
.listPrice {
    align-items: flex-start;
    display: flex;
    position: relative;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.01em;
}
.itemDetail {
    padding-top: 1px;
    width: 100%;
    overflow:auto;

}
.detailLeft {
    width: 620px;
    box-sizing: border-box;
    float: left;
    padding-bottom: 2em;
}
.detailRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 490px;
    position: relative;
    top: -7px;
    left: 0;
    box-sizing: border-box;
    border: none;
    float: right;
    z-index: 1;
}
.itemName {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.22;
    color: #262626;
    width: 100%;
    margin-left: 0;
    float: left;
    text-align: left;
    font-family: "San Francisco";
}

.itemFieldImg {
    height: 180px;
    width: 180px;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    align-items:center ;
    text-decoration: none;
    position: relative;
    margin: 0 auto 20px;
}
.itemImg {
    object-position: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.itemImgBig {
    object-position: center;
    max-height: 450px;
    max-width: 450px;
    border-radius: 10px;

}
.modalImage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99998;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    padding-top: 5rem;
}
.modalImage:target{
    display:block;

}
    .modalImage > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
    .close:hover {
        background-color: rgba(47, 47, 47,1);
        text-decoration: none;
        color: rgb(255, 255, 255);
        transform: scale(1.025);
    }
.buyBox {
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    padding: 15px 22px;
    border-radius: 0;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    box-shadow: none;
    position: relative;
    z-index: 1;
}
.priceBox {
    margin: -5px 0 0 0;
    width: auto;
    padding: 3px 0 10px 0;
}
.itemPrice {
    font-size: 40px;
    font-weight: bold;
    color: #262626;
    margin: 0 0 5px;
    line-height: 1;
    text-align: left;
}
.itemBuy {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50px;
    background: #76bc21;
    border: none;
    box-shadow: none;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;
}
.descrBox {
    padding: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.16);
    box-sizing: border-box;
    float:left;
    text-align: justify;
    margin-bottom: 80px;
    padding-bottom: 50px;
    width: 100%;
}
.review {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    box-sizing: border-box;
}
.itemDescr {
    box-sizing: border-box;
    margin: 0 0 10px;
    font-size: 16px;
    display: inline-flex;
    text-align: justify;
}
.reqReg{
    width:100%;
    text-align:center;
}
.headLa {
    background-color: rgb(249, 141, 184);
    background-image: url(../images/headImage.jpg);
    background-position: min(100%);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.headItem {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 47, 47,1);
    background-clip: padding-box;
    border: 1px solid rgb(23, 23, 23);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .headItem:hover, .headItem:active {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transform: scale(1.025);
    }
.exitButton:hover {
    transform: scale(1.025);
}
.itemLiLayout {
    margin-right: 5px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
.searchItem {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;

}
.headName {
    font-weight: 600;
    font-size: 1.6rem;
}
.searchFormItem {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;
}
.textFormItem{
    margin-right:0.5em;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}
.topText{
    display:flex;
    
}
.sort {
    margin: 0px;
    position: relative;
    padding: 0.375rem 0.75rem;
}
.sortForm {
    padding: 5px;
}
.sortSubmit {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgba(47, 47, 47,1);
    background-clip: padding-box;
    border: 1px solid rgb(23, 23, 23);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .sortSubmit:hover, .sortSubmit:active {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transform: scale(1.025);
    }
.selectSort {
    background-color: rgba(47, 47, 47,1);
    color: rgb(255, 255, 255);
    border-radius: 0.35rem;
    height: calc(2.35rem + 2px);
    padding: 0.375rem 0.75rem;
}
.pageButton {
    border: 1px solid rgb(23, 23, 23);
    border-radius: 0.35rem;
    width:85px;

}
    .pageButton:hover, .pageButton:active {
        background-color: rgba(47, 47, 47,1);
        text-decoration: none;
        color: rgb(255, 255, 255);
        transform: scale(1.025);
    }
.promoIndex {
    text-align:center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
.promoImage {
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    max-height: 500px;
    display: block;
}
.promoText {
    text-align:center;
    padding-bottom: calc(9.25rem + 2px);
    padding-left: calc(2.25rem + 2px);
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: "San Francisco";
    color: #fff;

}
.promoName {
    font-size: 3.294rem;
    font-weight: 600;
    text-shadow: 0 0 5px rgb(90, 90, 90);
}
.promoMini {
    font-size: 1.647rem;
    font-weight: 400;
    text-shadow: 0 0 5px rgb(90, 90, 90);
}
.promo {
    display: inline-block;
    position: relative;
    line-height: 0;
}
    .promo:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background: linear-gradient( to right, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.964) 7.4%, hsla(0, 0%, 0%, 0.918) 15.3%, hsla(0, 0%, 0%, 0.862) 23.4%, hsla(0, 0%, 0%, 0.799) 31.6%, hsla(0, 0%, 0%, 0.73) 39.9%, hsla(0, 0%, 0%, 0.655) 48.2%, hsla(0, 0%, 0%, 0.577) 56.2%, hsla(0, 0%, 0%, 0.497) 64%, hsla(0, 0%, 0%, 0.417) 71.3%, hsla(0, 0%, 0%, 0.337) 78.1%, hsla(0, 0%, 0%, 0.259) 84.2%, hsla(0, 0%, 0%, 0.186) 89.6%, hsla(0, 0%, 0%, 0.117) 94.1%, hsla(0, 0%, 0%, 0.054) 97.6%, hsla(0, 0%, 0%, 0) 100% );

        opacity: 0.8;
    }
.promoShop {
    display: inline-grid;
    width: 25%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(47, 47, 47);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(23, 23, 23);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .promoShop:hover, .promoShop:active {
        text-decoration: none;
        color: rgba(47, 47, 47,1);
        transform: scale(1.025);
    }
.profileDetail {
    padding-top: 1px;
    width: 100%;
    overflow: auto;
    min-height:175px;
}

.profileLeft {
    width: 620px;
    box-sizing: border-box;
    float: left;
    padding-bottom: 2em;
}

.profileRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 490px;
    position: relative;
    left: 0;
    box-sizing: border-box;
    border: none;
    float: right;
    z-index: 1;
}
.profileMoney {
    display: inline-block;
    position: relative;
    line-height: 0;
    max-width:155px;
}

    .profileMoney:after {
        content: "";
        display: block;


    }
.profileImage {
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    max-height: 500px;
    display: block;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.profileText {
    color: rgb(13, 66, 36);
    position: absolute;

    padding: 0px;
    margin: 0px;
    padding-right: 25px;
    text-align: center;
}

.profileName {
    font-weight: 600;
    font-size: 17px;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.profileMini {
    font-weight: 700;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0px;
}